body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background-color: #f1f1f1;
  padding: 20px;
}

h1 {
  text-align: center;
}

main {
  padding: 10px;
}

section {
  margin-bottom: 10px;
}

.menu, .cart {
  /* display: flex; */
  /* justify-content: space-between; */
  align-items: center;
}

.sushi-item {
  width: 50%;
}

.sushi-item img {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.price {
  font-weight: bold;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
}
  
button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
  
